{%extends "baza.html"%}
{%block content%}
<div class="block">
    <label class="label-text">Заголовок статьи:</label>
    <input class="input-title" type="text" id="title" required maxlength="15" size="50" />

    <label class="label-text">Тема статьи:</label>
    <select>
        <option value='news'>Новости</option>
        <option value='games'>Игры</option>
        <option value='entertainments'>Развлечения</option>
        <option value='IT'>IT/Программирование</option>
        <option value='electronics'>Электроника</option>
        <option value='literature'>Литература</option>
        <option value='literature'>Музыка</option>
    </select>

    <label class="label-text">Введите текст статьи:</label>
    <textarea name="text" class="text-area"></textarea>
    <form>
        <button>Отправить данные</button>
    </form>
</div>

{%endblock%}
