<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static', filename='css/css.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body>
<ul class="list">
    <li class="pos-li"><a href="/">Главная</a></li>
    <li class="pos-li"><a href="/add_article">Добавить статью</a></li>
    <li class="pos-li" style="float:right"><a href="/register">Регистрация</a></li>
    <li class="pos-li" style="float:right"><a href="/about">О нас</a></li>

</ul>

{%block content%}

{%endblock%}

</body>
</html>
